
.title-font{
	font-family: 'Fjalla One', sans-serif
}

.normal-font{
	font-family: 'Raleway', sans-serif;
}


.btn-variant {
	border: none;
	border-radius: 300px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 30px;
	background-color: #FC772F;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

.btn-variant:hover {
	cursor: pointer;
}

.button{
	height: 50px;
	background: none;
	color: black;
}

.button:active{
	background: gray;
	color: white;
}

.navbar{
	border: 1px solid white;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar > .container-fluid{
	background-color: white;
}

a.navbar-brand, .navbar-nav>li>a{
	color: black;
}


.navbar-brand:hover, .navbar-nav>li>a:hover{
	background-color: transparent;
}

#navBurg{
	margin-right: 2%;
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #333333;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
}

#navLinks{
		text-align: center;
}

#tabby, #navRegister, #navLogin, #author{
	color: #FC772F;
}

#githubIcon{
	margin-right: 3%;
}

#githubIcon > img{
	height: 30px;
	width: 30px;
}

#header{
	height: 70vh;
	width: 100%;
	position: relative;
}

#header{
		background-image: 
		linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ),
	    url('/resources/images/header.jpg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
	height: auto;
}

#title{
	margin-top: 0;
	font-size: 42px;
}

#titleLine{
	width: 60px;
	background-color: black;
	margin-top: 50px;
	margin-bottom: 50px;

}

#subtitle{
	text-align: center;
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 50px;
}


#titleButton{
	margin-top: 25px;
}

#summaryContainer{
	background-color: #FC772F;
	min-height: auto;
	padding-bottom: 25px;
}

#summary{
	font-size: 26px;
	text-align: center;
}

#sumFirstLine{
	padding-top: 50px;
	margin-bottom: 25px;
}

#summaryHr{
	width: 30%;
	border-width: 3px;
	max-width: 50px;
	margin-bottom: 25px;
}

#summaryButton{
	margin-top: 50px;
	color: #FC772F;
	background-color: #fff;
}

#works{
	width: 95%
	margin-right: auto;
	margin-left: auto;
	position: relative;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 3%;
}

#worksTitle{
	font-size: 30px;
}

#worksHr{
	width: 30%;
	border-width: 3px;
	max-width: 50px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-color: black;
	margin-bottom: 10%;
}

#moreInfoContainer{
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

.infoSection{

}

.moreInfo{
	margin-bottom: 15%;
	text-align: center;
}

.explanationImage{
	margin-top: 2%;
}

.material-icons{ 
	font-size: 48px;
	color: #FC772F;
}

.explanationTitle{
	text-align: center;
	font-size: 22px;
}

.explanation{
	font-size: 20px;
}


@media screen and (min-device-width: 568px){
	#navLinks{

	}


	#header{
		height: auto;
	}

	#title{
		margin-top: 25px;
	}

	#titleLine{
		margin-top: 25px;
		margin-bottom: 25px;
	}

	#titleButton{
		margin-bottom: 25px;
	}

	#subtitle{
		text-align: center;
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 50px;
		width: 60%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	#summaryContainer{
		margin-top: 0; 
		min-height: 50vh;
		height: auto;
	}

	#summary{
	}

	#sumFirstLine{
		margin-bottom: 25px;
	}

	#sumSecondLine{
		position: relative;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	#summaryHr{

	}

	#summaryButton{
		margin-top: 25px;
		margin-bottom: 25px;
	}

	#works{
		margin-top: 40px;
		margin-bottom: 3%;
	}

	#worksHr{
		margin-bottom: 25px;
	}

	#moreInfoContainer{
		position: relative;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
	}

	.infoSection{

	}

	.moreInfo{
		width: 60%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		text-align: center;
	}

	.explanationImage{

	}

	.material-icons{ 

	}

	.explanationTitle{

	}

	.explanation{

	}
}


@media screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	
	#navLinks{

	}


	#header{
	}

	#headerOuter{

	}

	#headerMiddle{
	}	

	#headerInner{
	}

	#title{
		margin-top: 50px;
		font-size: 46px;
	}

	#titleLine{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	#titleButton{
		margin-bottom: 50px;
	}

	#subtitle{
		font-size: 36px;
	}

	#summaryContainer{
		margin-top: 0; 
		width: 100%;
		border: 1px solid black;
		height: auto;
	}

	#summary{
		margin-top: 0;
		padding-top: 0;
		position: relative;
		width: 100%;
		height: 100%;
	}

	#sumFirstLine{
		margin-bottom: 25px;
	}

	#summaryHr{

	}

	#summaryButton{
		margin-top: 25px;
		margin-bottom: 25px;
	}

	#works{
		margin-top: 40px;
		margin-bottom: 3%;
	}

	#worksHr{
		margin-bottom: 25px;
	}

	#moreInfoContainer{
		position: relative;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
	}

	.infoSection{

	}

	.moreInfo{
		width: auto;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		text-align: center;
	}

	.explanationImage{
		margin-top: 2%;
	}

	.material-icons{ 

	}

	.explanationTitle{

	}

	.explanation{
	}
}


@-moz-document url-prefix(){
	#navLinks{

	}


	#header{
	}

	#headerOuter{

	}

	#headerMiddle{
	}	

	#headerInner{
	}

	#title{
		margin-top: 50px;
		font-size: 46px;
	}

	#titleLine{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	#titleButton{
		margin-bottom: 50px;
	}

	#subtitle{
		font-size: 36px;
	}

	#summaryContainer{
		margin-top: 0; 
		width: 100%;
		border: 1px solid black;
		height: auto;
	}

	#summary{
		margin-top: 0;
		padding-top: 0;
		position: relative;
		width: 100%;
		height: 100%;
	}

	#sumFirstLine{
		margin-bottom: 25px;
	}

	#summaryHr{

	}

	#summaryButton{
		margin-top: 25px;
		margin-bottom: 25px;
	}

	#works{
		margin-top: 40px;
		margin-bottom: 3%;
	}

	#worksHr{
		margin-bottom: 25px;
	}

	#moreInfoContainer{
		position: relative;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
	}

	.infoSection{

	}

	.moreInfo{
		width: auto;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		text-align: center;
	}

	.explanationImage{
		margin-top: 2%;
	}

	.material-icons{ 

	}

	.explanationTitle{

	}

	.explanation{
	}
}