
body{
	background-color: #f4f4f6;
	height: 100vh;
}


.navbar{
	text-align: center;
}


	/*profile*/
/************************************/
	#outer{
		display: table;
		position: absolute;
		height: 85%;
		width: 100%;
	}

	#top{
		display: table-cell;
		vertical-align: top;
	}

	#userSection{
		position: relative;
		margin-left: auto;
		margin-right: auto;

	}

	#profileContainer{
		border-top: 1px solid #ededf0;
		border-left: 1px solid #ededf0;
		border-right: 1px solid #ededf0;
		background-color: white;
		width: 100%;
		position: relative;
		margin-left: auto;
		margin-right: auto;

	}

	#profileImageContainer{
		padding: 1%;
	}

	#profileImage{

	}

	#profileImage > img{
		width: 100%;
		height: 100%;
	}


	#userInfoContainer{
		font-size: 16px;
	}

	#userInfoContainer > p{
		margin-bottom: 0;
	}

	#expiryContainer{
		position: relative;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		border-bottom: 2px solid #ededf0;
		border-left: 1px solid #ededf0;
		border-right: 1px solid #ededf0;
		width: 100%;
		padding-left: 2%;
		background-color: white;
	}

	#expiryDiv{
		width: 100%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	#highContainer, #medContainer, #lowContainer{
		height: 100%;
	}

	.priority{
	}
/************************************/

@media screen and (min-device-width: 601px){
	#outer{

	}

	#top{

	}

	#userSection{

	}

	#profileContainer{

	}

	#profileImageContainer{
		padding: 2%;
	}

	#profileImage{

	}

	#profileImage > img{

	}


	#userInfoContainer{
		font-size: 20px;
	}

	#userInfoContainer > p{
		margin-bottom: 0;
	}

	#expiryContainer{
		position: relative;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		width: 100%;
		background-color: white;
	}

	#expiryDiv{
	}

	#highContainer, #medContainer, #lowContainer{
		font-size: 18px;
	}

	.priority{
	}
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	#outer{

	}

	#top{

	}

	#userSection{

	}

	#profileContainer{

	}

	#profileImageContainer{

	}

	#profileImage{

	}

	#profileImage > img{

	}


	#userInfoContainer{
		margin-top: 5%;
	}

	#userInfoContainer > p{
	}

	#expiryContainer{

	}

	#expiryDiv{
	}

	#highContainer, #medContainer, #lowContainer{
	}

	.priority{
	}
}