	body{
		height: 90vh;
		background-color: #c3fdff;
	}

	input.error{
		border: 1px solid red;
	}

	input.error:focus{
		border:1px solid red;
		box-shadow: 0 0 5px red;
	}

	input.valid{
		border: 1px solid green;
	}

	input.valid:focus{
		border:1px solid green;
		box-shadow: 0 0 5px green;
	}

	.has-feedback label~.form-control-feedback.error{
		top: 0;
		color:red;
	}

	.navbar{
		border: 1px solid #5d99c6;
		border-radius: 0;
	}

	.navbar > .container-fluid{
		background-color: #5d99c6;
	}

	a.navbar-brand, .navbar-nav>li>a{
		color: black;
	}


	.navbar-brand:hover, .navbar-nav>li>a:hover{
		background-color: transparent;
	}

	#navBurg{
		margin-right: 2%;
		background-color: transparent;
		border: none;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #333333;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border: none;
	}

	#navLinks{
			text-align: center;
	}

	#backButton{
		color: #333333;
	}


	.feedback{
		padding-right: 17px;
	}

	.outer{
		display: table;
		position: absolute;
		height: 100%;
		width: 100%;
	}

	.middle{
		display: table-cell;
		vertical-align: middle;
	}

	#cancelChange{
		position: absolute;
		right: 5px;
		top: 5px;
	}

	#title{
		text-align: center;
		margin-bottom: 2%;
	}

	#formContainer{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		background-color: rgb(144,202,249);
		border: 1px solid rgb(144,202,249);
		border-radius: 5px;
		width: 90%;
		padding-top: 5%;
		padding-bottom: 5%;
	}

	#buttonContainer{
		text-align: center;
	}

	#buttonDiv{
		text-align: center;
		width: 100%;
	}

@media screen and (min-device-width: 601px){
	.feedback{

	}

	.outer{

	}

	.middle{

	}

	#cancelChange{

	}

	#title{

	}

	#formContainer{

		padding-top: 0;
		padding-bottom: 0;
	}

	#buttonContainer{
	}

	#buttonDiv{

	}
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.feedback{

	}

	.outer{

	}

	.middle{

	}

	#cancelChange{

	}

	#title{

	}

	#formContainer{

	}

	#buttonContainer{
	}

	#buttonDiv{

	}

}