	body{
		height: 100vh;
		background-color: lightgrey;
	}

	input.error{
		border: 1px solid red;
	}

	input.error:focus{
		border:1px solid red;
		box-shadow: 0 0 5px red;
	}

	input.valid{
		border: 1px solid green;
	}

	input.valid:focus{
		border:1px solid green;
		box-shadow: 0 0 5px green;
	}

	.has-feedback label~.form-control-feedback{
		padding-right: 17px;
	}

	#outer{
		display: table;
		position: absolute;
		height: 100%;
		width: 100%;
	}

	#userSection{
		display: table-cell;
		vertical-align: top;
	}

	#editProfile{
		text-align: center;
		margin-bottom: 2%;
	}

	#editUserForm{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(0,0,0,0.2);
		border: 1px solid rgba(0,0,0, 0.2);
		border-radius: 5px;
		width: 90%;
		padding-top: 5%;
		padding-bottom: 5%;
	}

	#priorityTitle{
		font-weight: bold;
		font-size: 16px;
		text-align: center;
	}

	#buttonContainer{
		text-align: center;
	}


@media screen and (min-device-width: 601px){
	#outer{

	}

	#userSection{
	}

	#editProfile{
	}

	#editUserForm{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(0,0,0,0.2);
		border: 1px solid rgba(0,0,0, 0.2);
		border-radius: 5px;
		width: 90%;
		height: auto;
		padding-top: 0%;
		padding-bottom: 1%;
	}

	#priorityTitle{
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		margin-top: 1%;
	}

	#buttonContainer{
		text-align: center;
		margin-top: 3%;
		width: 100%;
		margin-bottom: 0;
	}

	#buttonDiv{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		margin-bottom: 0;
	}

}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	
	#outer{

	}

	#userSection{
	}

	#editProfile{
	}

	#editUserForm{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(0,0,0,0.2);
		border: 1px solid rgba(0,0,0, 0.2);
		border-radius: 5px;
		width: 90%;
		height: auto;
		padding-top: 0%;
		padding-bottom: 5%;
	}

	#priorityTitle{
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		margin-top: 3%;
	}

	#firstNameDiv{
		margin-bottom: 7%;
		text-align: right;
	}

	#lastNameDiv{
		text-align: right;
	}

	#buttonContainer{
		text-align: center;
		margin-top: 3%;
		width: 100%;
	}

	#buttonDiv{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

}
