	body{
		height: 100vh;
		background-color: #303036;
	}

	input.error{
		border: 1px solid red;
	}

	input.error:focus{
		border:1px solid red;
		box-shadow: 0 0 5px red;
	}

	input.valid{
		border: 1px solid green;
	}

	input.valid:focus{
		border:1px solid green;
		box-shadow: 0 0 5px green;
	}


	.title-font{
		font-family: 'Fjalla One', sans-serif
	}

	.normal-font{
		font-family: 'Raleway', sans-serif;
	}


	.btn-variant {
		border: none;
		border-radius: 300px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 15px 30px;
		background-color: #FC772F;
		color: #fff;
		font-family: 'Raleway', sans-serif;
	}

	.btn-variant:hover {
		cursor: pointer;
	}

	.button{
		height: 50px;
		background: none;
		color: black;
	}

	.button:active{
		background: gray;
		color: white;
	}

	.navbar{
		border: 1px solid white;
		border-radius: 0;
		margin-bottom: 0;
	}

	.navbar > .container-fluid{
		background-color: white;
	}

	a.navbar-brand, .navbar-nav>li>a{
		color: black;
	}


	.navbar-brand:hover, .navbar-nav>li>a:hover{
		background-color: transparent;
	}

	#navBurg{
		margin-right: 2%;
		background-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background-color: #333333;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	}

	#navLinks{
		text-align: center;
	}

	#backButton{
		color: #FC772F;
	}



	.has-feedback label~.form-control-feedback{
		padding-right: 17px;
	}

	#outer{
		display: table;
		position: absolute;
		height: 100%;
		width: 100%;
	}

	#userSection{
		display: table-cell;
		vertical-align: center;

	}

	#editProfile{
		text-align: center;
		margin-bottom: 2%;
	}

	#editUserForm{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		background-color: rgba(255,255,255,.5);
		border: 1px solid rgba(255,255,255,.3);
		border-radius: 5px;
		width: 90%;
		padding-top: 5%;
		padding-bottom: 5%;
		margin-top: 5%;
	}

	#priorityTitle{
		font-weight: bold;
		font-size: 16px;
		text-align: center;
	}

	#buttonContainer{
		text-align: center;
	}


@media screen and (min-device-width: 601px){
	#outer{

	}

	#userSection{
	
	}

	#editProfile{
	
	}

	#editUserForm{
		padding-top: 0%;
		padding-bottom: 1%;
	}

	#priorityTitle{
		margin-top: 1%;
	}

	#buttonContainer{
		text-align: center;
		margin-top: 3%;
		width: 100%;
		margin-bottom: 0;
	}

	#buttonDiv{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		margin-bottom: 0;
	}

}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	
	#outer{

	}

	#userSection{
	}

	#editProfile{
	}

	#editUserForm{
		padding-top: 0%;
		padding-bottom: 8%;
	}

	#priorityTitle{
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		margin-top: 3%;
	}

	#firstNameDiv{
		margin-bottom: 7%;
		text-align: right;
	}

	#lastNameDiv{
		text-align: right;
	}

	#buttonContainer{
		text-align: center;
		margin-top: 3%;
		width: 100%;
	}

	#buttonDiv{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

}

@-moz-document url-prefix(){
	#outer{

	}

	#userSection{
	}

	#editProfile{
	}

	#editUserForm{
		padding-top: 0%;
		padding-bottom: 8%;
	}

	#priorityTitle{
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		margin-top: 3%;
	}

	#firstNameDiv{
		margin-bottom: 7%;
		text-align: right;
	}

	#lastNameDiv{
		text-align: right;
	}

	#buttonContainer{
		text-align: center;
		margin-top: 3%;
		width: 100%;
	}

	#buttonDiv{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}
